<div class="favourites-container">
  <div *ngIf="!hasFavourites">
    <p>No favourite recipes available.</p>
  </div>
  <div *ngIf="hasFavourites && hasFavourites" class="recipe-list">
    <div
      class="recipe-card"
      *ngFor="let recipe of copyRecipes"
      (click)="viewRecipe(recipe)"
    >
      <img
        *ngIf="recipe.image"
        [src]="getImageSrc(recipe.image)"
        alt="{{ recipe.name }}"
      />

      <div class="recipe-content">
        <h2 class="recipe-header">
          <span *ngIf="recipe.name">{{ recipe.name }}</span>
          <span class="recipe-favourites">
            &#10084; {{ recipe.favourites }}
          </span>
        </h2>
        <p><strong>Category:</strong> {{ recipe.category.join(", ") }}</p>
        <p><strong>Tags:</strong> {{ recipe.tags.join(", ") }}</p>
        <p class="comments-section">
          <span class="rating-stars">
            <span class="star-wrapper">
              <span
                class="filled-stars"
                [style.width.%]="(recipe.averageRating / 5) * 100"
                >★★★★★</span
              >
              <span class="empty-stars">★★★★★</span>
            </span>
          </span>

          <span class="comment-icon">
            <i class="bi bi-chat-dots"></i>{{ recipe.comments.length }}
          </span>
        </p>
        <p class="ellipsis"><strong>...</strong></p>
      </div>
    </div>
  </div>
</div>
