.profile-container {
  min-width: 900px;
  max-width: 900px;
  margin: 0 auto;
}

.profile-title {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #652c15;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.profile-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.profile-field-container {
  padding: 10px;
  text-align: center;
  border: 1px solid #652c15;
  border-radius: 4px;
  min-height: 265px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.profile-value {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
}

.profile-edit input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.profile-action {
  margin-top: 10px;
}

.profile-action button {
  font-size: 15px;
  padding: 5px 10px;
  background-color: #bb9c7f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.profile-action button:hover {
  background-color: #652c15;
}

.profile-password-action button {
  font-size: 15px;
  background-color: #bb9c7f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 15px;
  transition: background-color 0.3s ease;
}

.profile-password-action button:hover {
  background-color: #652c15;
}

.error-message {
  color: #cc1b00;
  margin-top: 5px;
}

hr {
  grid-column: 1 / span 3;
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 80%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content h2 {
  margin-top: 0;
  color: #652c15;
}

.modal-content p {
  margin: 20px 0;
  color: #333;
}

.modal-close {
  background-color: #bb9c7f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-close:hover {
  background-color: #652c15;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}