<div class="profile-container">
  <h2>Profile Information</h2>

  <div *ngIf="user" class="profile-info">
    <div>
      <img *ngIf="photoUrl" [src]="photoUrl" alt="Profile Picture" />
    </div>
    <div
      *ngFor="
        let field of ['firstname', 'lastname', 'username', 'email', 'phone']
      "
    >
      <p *ngIf="!isEditing[field]">
        <strong>{{ field | titlecase }}:</strong> {{ user[field] }}
        <button (click)="startEdit(field)">Edit</button>
      </p>
      <div *ngIf="isEditing[field]">
        <label>{{ field | titlecase }}:</label>
        <input [(ngModel)]="editValues[field]" />
        <label>Password to confirm:</label>
        <input type="password" [(ngModel)]="passwordForSave" />
        <button (click)="saveEdit(field)">Save</button>
        <button (click)="cancelEdit(field)">Cancel</button>
      </div>
    </div>

    <!-- Sekcija za promenu lozinke -->
    <div *ngIf="!isEditingPassword">
      <h3>Change Password</h3>
      <button (click)="startPasswordChange()">Edit Password</button>
    </div>

    <div *ngIf="isEditingPassword">
      <label>Current Password:</label>
      <input type="password" [(ngModel)]="oldPassword" />

      <label>New Password:</label>
      <input
        type="password"
        [(ngModel)]="newPassword"
        (input)="validateNewPassword()"
      />

      <label>Confirm New Password:</label>
      <input
        type="password"
        [(ngModel)]="confirmNewPassword"
        (input)="validateNewPassword()"
      />

      <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>

      <button (click)="savePasswordChange()">Change Password</button>
      <button (click)="cancelPasswordChange()">Cancel</button>
    </div>
  </div>
</div>
