html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

main {
  flex: 1;
  padding-top: 70px;
  /* Prostor ispod hedera */
  padding-bottom: 60px;
  /* Prostor iznad futera */
}