html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding-top: 70px;
  /* Prostor ispod hedera */
  padding-bottom: 60px;
  /* Prostor iznad futera */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
  /* Ovim se osigurava da footer bude na dnu */
  width: 100%;
}