<div class="recipe-detail-container" *ngIf="recipe">
  <div class="recipe-header">
    <h1 class="recipe-title">{{ recipe.name }}</h1>
    <div class="favourites">
      <span
        class="favourite-icon"
        [ngClass]="{ 'is-favourite': isFavourite }"
        (click)="toggleFavourite()"
        >&#10084;</span
      >
      <span>{{ recipe.favourites }}</span>
    </div>
  </div>

  <div class="recipe-content">
    <img
      *ngIf="recipe.image"
      [src]="
        'data:' + recipe.image.contentType + ';base64,' + recipe.image.data
      "
      alt="{{ recipe.name }}"
      class="recipe-image"
    />
    <div class="recipe-details">
      <div class="ingredients-section">
        <h2>Ingredients</h2>
        <div *ngFor="let ingredient of recipe.ingredients" class="ingredient">
          <p>
            {{ ingredient.name }}: {{ ingredient.quantity }}
            {{ ingredient.unit }}
          </p>
        </div>
      </div>
      <div class="category-section">
        <h2>Categories</h2>
        <div *ngFor="let category of recipe.category" class="category">
          <p>{{ category }}</p>
        </div>
      </div>
      <div class="tags-section">
        <h2>Tags</h2>
        <div *ngFor="let tag of recipe.tags" class="tag">
          <p>{{ tag }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="description-section">
    <h2>Description</h2>
    <p>{{ recipe.description }}</p>
  </div>

  <!-- Comments and Ratings -->
  <div class="comments-section">
    <div class="summary">
      <div class="summary-content">
        <div>
          <p>
            <strong>Rating: </strong>
            <span class="rating-stars">
              <span class="star-wrapper">
                <span
                  class="filled-stars"
                  [style.width.%]="getStarFillPercentage()"
                  >&#9733;&#9733;&#9733;&#9733;&#9733;</span
                >
                <span class="empty-stars"
                  >&#9733;&#9733;&#9733;&#9733;&#9733;</span
                >
              </span>
            </span>
          </p>
          <p *ngIf="!showComments" class="show-more" (click)="toggleComments()">
            {{ recipe.comments.length }} comments
          </p>
          <p *ngIf="showComments" class="show-less" (click)="toggleComments()">
            Hide
          </p>
        </div>
        <p class="author-info">
          Author:
          <br />
          <!-- <strong style="color: red">{{ author.firstname }} {{ author.lastname }}</strong> -->
        </p>
      </div>
    </div>

    <div *ngIf="showComments" class="comments">
      <div *ngFor="let comment of recipe.comments" class="comment">
        <p></p>
        <p>
          {{ comment.createdAt | date : "d.M.yyyy. HH:mm" }}
          <span class="stars">
            <ng-container
              *ngFor="let star of getStarArray(getUserRating(comment.username))"
            >
              <span
                class="star"
                [ngClass]="{
                  filled: star <= (getUserRating(comment.username) || 0)
                }"
                >&#9733;</span
              >
            </ng-container>
          </span>
        </p>

        <p>
          <strong>{{ comment.username }}: </strong> <i>{{ comment.comment }}</i>
        </p>

        <div
          *ngIf="comment.username === currentUser.username"
          class="comment-actions"
        >
          <button (click)="toggleEdit()">Edit your comment</button>
          <button (click)="openDeleteModal(comment._id)">
            Delete your comment
          </button>
        </div>
      </div>

      <!-- New Comment Input -->
      <div *ngIf="!hasUserComment() || !hasUserRating()" class="comment-input">
        <textarea
          [(ngModel)]="newComment"
          placeholder="Enter your comment here"
        ></textarea>
        <label for="rating">Rating:</label>
        <input
          type="number"
          id="rating"
          [(ngModel)]="newRating"
          min="1"
          max="5"
        />
        <br />
        <button (click)="saveCommentAndRating(false)">Save</button>
      </div>

      <!-- Edit Comment Input -->
      <div *ngIf="hasUserComment() || hasUserRating()">
        <div *ngIf="editing" class="edit-input">
          <textarea [(ngModel)]="newComment"></textarea>
          <input type="number" [(ngModel)]="newRating" min="1" max="5" />
          <br />
          <button (click)="saveCommentAndRating(true)">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" *ngIf="showDeleteModal">
  <div class="modal-content">
    <h3>Are you sure you want to delete this comment?</h3>
    <div class="modal-actions">
      <button class="cancel-button" (click)="closeDeleteModal()">Cancel</button>
      <button class="delete-button" (click)="confirmDeleteComment()">
        Delete
      </button>
    </div>
  </div>
</div>
