<div class="recipe-detail-container">
  <h1>{{ recipe.name }}</h1>
  <img
    *ngIf="recipe.image"
    [src]="'data:' + recipe.image.contentType + ';base64,' + recipe.image.data"
    alt="{{ recipe.name }}"
  />
  <p><strong>Category:</strong> {{ recipe.category.join(", ") }}</p>
  <p><strong>Description:</strong> {{ recipe.description }}</p>
  <p><strong>Average Rating:</strong> {{ recipe.averageRating || "N/A" }}</p>
  <div *ngFor="let ingredient of recipe.ingredients">
    <p>
      {{ ingredient.name }}: {{ ingredient.quantity }} {{ ingredient.unit }}
    </p>
  </div>

  <!-- Komentari i ocene -->
  <div class="comments-section">
    <div class="summary" (click)="toggleComments()">
      <p>
        <strong>Rating:</strong> {{ recipe.averageRating || "N/A" }} ({{
          recipe.comments.length
        }}
        comments)
      </p>
      <p *ngIf="!showComments" class="show-more">Show more</p>
      <p *ngIf="showComments" class="show-less">Show less</p>
    </div>

    <!-- Prikaz trenutnih komentara -->
    <div *ngIf="showComments" class="comments">
      <div *ngFor="let comment of recipe.comments" class="comment">
        <p>
          <strong>{{ comment.username }}:</strong> {{ comment.comment }}
        </p>
      </div>

      <!-- Unos novog komentara i ocene ako korisnik nema već komentar -->
      <div *ngIf="!hasUserComment() || !hasUserRating()">
        <div class="comment-input">
          <textarea
            [(ngModel)]="newComment"
            placeholder="Enter your comment"
          ></textarea>
          <label for="rating">Rating:</label>
          <input
            type="number"
            id="rating"
            [(ngModel)]="newRating"
            min="1"
            max="5"
          />
          <button (click)="saveCommentAndRating()">Save</button>
        </div>
      </div>

      <!-- Uređivanje postojećeg komentara i ocene ako korisnik već ima komentar -->
      <div *ngIf="hasUserComment() || hasUserRating()">
        <button (click)="toggleEdit()">Edit your comment</button>
        <div *ngIf="editing">
          <textarea [(ngModel)]="newComment"></textarea>
          <input type="number" [(ngModel)]="newRating" min="1" max="5" />
          <button (click)="saveCommentAndRating()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
