.my-recipes-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns per row */
  gap: 20px;
  /* Space between grid items */
  justify-content: center;
  /* Center the grid within its container */
}

.recipe-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.2s;
  min-width: 300px;
  min-height: 300px;
  max-width: 400px;
  max-height: 400px;
}

.recipe-card:hover {
  transform: scale(1.02);
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-content {
  padding: 15px;
  flex-grow: 1;
  /* Osigurajte da se sadržaj širi unutar kartice */

}

.recipe-content h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.recipe-content p {
  margin: 5px 0;
  color: #666;
}

.recipe-content strong {
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Uncomment this if needed */
/* .recipe-content p strong:hover {
  color: #ffdd57;
  text-decoration: underline;
} */

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.recipe-name {
  font-weight: bold;
  font-size: 1.8rem;
}

.recipe-favourites {
  font-size: 0.9em;
  color: #cc1b00;
}

.rating-stars {
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
  line-height: 1;
}

.star-wrapper {
  position: relative;
  display: inline-block;
  color: #e0e0e0;
  white-space: nowrap;
}

.filled-stars {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffc107;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  transition: width 0.3s ease;
}

.empty-stars {
  color: #e0e0e0;
}

.comments-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-icon {
  margin-left: auto;
  font-size: 1.3rem;
  color: black;
}

.comment-icon .bi-chat-dots {
  padding-right: 5px;
  font-size: 1.2rem;
  color: black;
}

.ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.ellipsis strong {
  font-size: 1.2rem;
}

.recipes-container .centered-text {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #652c15;
}

.rating-stars {
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
  line-height: 1;
}

.star-wrapper {
  position: relative;
  display: inline-block;
  color: #e0e0e0;
  /* Gray color for empty stars */
  white-space: nowrap;
}

.filled-stars {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffc107;
  /* Gold color for filled stars */
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  transition: width 0.3s ease;
}

.empty-stars {
  color: #e0e0e0;
  /* Gray color for empty stars */
}

.favourites-container .centered-text {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #652c15;
}

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1001;
}

.loading-indicator .spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #bb9c7f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}