<div class="recipes-container">
  <div class="sort-buttons">
    <button (click)="sortRecipes('averageRating')">Sort by Rating</button>
    <button (click)="sortRecipes('createdAt')">Sort by Newest</button>
    <button (click)="sortRecipes('name')">Sort by Name (A-Z/Z-A)</button>
  </div>
  <div *ngIf="recipes.length === 0">
    <p>No recipes available.</p>
  </div>
  <div *ngIf="recipes.length > 0" class="recipe-list">
    <div
      class="recipe-card"
      *ngFor="let recipe of recipes"
      (click)="viewRecipe(recipe)"
    >
      <img
        *ngIf="recipe.image"
        [src]="
          'data:' + recipe.image.contentType + ';base64,' + recipe.image.data
        "
        alt="{{ recipe.name }}"
      />
      <div class="recipe-content">
        <h2 class="recipe-header">
          <span class="recipe-name"> {{ recipe.name }} </span>
          <span class="recipe-author"> &#10084; {{ recipe.favourites }} </span>
        </h2>
        <p><strong>Category:</strong> {{ recipe.category.join(", ") }}</p>
        <p><strong>Tags:</strong> {{ recipe.tags.join(", ") }}</p>
        <p class="comments-section">
          <span class="rating-stars">
            <span class="star-wrapper">
              <span
                class="filled-stars"
                [style.width.%]="(recipe.averageRating / 5) * 100"
                >&#9733;&#9733;&#9733;&#9733;&#9733;</span
              >
              <span class="empty-stars"
                >&#9733;&#9733;&#9733;&#9733;&#9733;</span
              >
            </span>
          </span>
          <span class="comment-icon">
            <i class="bi bi-chat-dots"></i>{{ recipe.comments.length }}
          </span>
          <span></span>
        </p>
        <p (click)="viewRecipe(recipe)">
          <span class="ellipsis"><strong>. . .</strong></span>
        </p>
      </div>
    </div>
  </div>

  <!-- Paginacija -->
  <div class="pagination">
    <button
      class="page-btn"
      *ngFor="let page of getPaginationArray()"
      [ngClass]="{ active: page === currentPage }"
      (click)="setPage(page)"
    >
      {{ page }}
    </button>
  </div>
</div>
