<header>
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/"><strong>Top Chefs</strong></a>
    </div>
    <div>
      <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/top-9-recipes">Top 9 Recipes</a></li>
        <li *ngIf="isLoggedIn()"><a routerLink="/profile">Profile</a></li>
        <li *ngIf="!isLoggedIn() && !isLoginRoute()">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>
