footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  display: none;
  /* Footer je inicijalno skriven */
}

footer.visible {
  display: block;
  /* Prikaži footer kada se skroluje do kraja */
}