footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  min-height: 18px;
  background-color: #bb9c7f;
  text-align: left;
  padding-left: 15px;
  box-sizing: border-box;
  display: none;
  color: #652c15;
  /* Footer je inicijalno skriven */
}

footer.visible {
  display: block;
  /* Prikaži footer kada se skroluje do kraja */
}