<div class="recipe-add-container">
  <h2>Add a New Recipe</h2>

  <form (submit)="onSubmit()">
    <!-- Recipe Name -->
    <label for="name">Recipe Name:</label>
    <input type="text" id="name" [(ngModel)]="name" name="name" required />

    <!-- Description -->
    <label for="description">Description:</label>
    <textarea
      id="description"
      [(ngModel)]="description"
      name="description"
      required
    ></textarea>

    <!-- Categories -->
    <label for="category">Category:</label>
    <div class="category-checkboxes">
      <label *ngFor="let cat of getVisibleCategories(); let i = index">
        <input
          type="checkbox"
          [value]="cat"
          (change)="toggleSelection(cat, 'category')"
          [checked]="category.includes(cat)"
        />
        {{ cat }}
      </label>
    </div>
    <div
      *ngIf="!showAllCategories"
      (click)="toggleCategoryExpand()"
      class="expand-toggle"
    >
      <i class="fas fa-angle-down"></i>
    </div>
    <div
      *ngIf="showAllCategories"
      (click)="toggleCategoryExpand()"
      class="expand-toggle"
    >
      <i class="fas fa-angle-up"></i>
    </div>

    <hr />

    <!-- Tags -->
    <label for="tags">Tags:</label>
    <div class="tags-checkboxes">
      <label *ngFor="let tag of getVisibleTags(); let i = index">
        <input
          type="checkbox"
          [value]="tag"
          (change)="toggleSelection(tag, 'tags')"
          [checked]="tags.includes(tag)"
        />
        {{ tag }}
      </label>
    </div>
    <div
      *ngIf="!showAllTags"
      (click)="toggleTagsExpand()"
      class="expand-toggle"
    >
      <i class="fas fa-angle-down"></i>
    </div>
    <div *ngIf="showAllTags" (click)="toggleTagsExpand()" class="expand-toggle">
      <i class="fas fa-angle-up"></i>
    </div>

    <hr />

    <!-- Ingredients -->
    <div>
      <button type="button" class="add-ingredient" (click)="addIngredient()">
        &#x2795; Ingredient
      </button>
    </div>

    <div
      *ngFor="let ingredient of ingredients; let i = index"
      class="ingredient-row"
    >
      <input
        type="text"
        [(ngModel)]="ingredient.name"
        placeholder="Ingredient name"
        name="ingredientName{{ i }}"
        required
      />

      <input
        type="text"
        [(ngModel)]="ingredient.quantity"
        placeholder="Quantity"
        name="ingredientQuantity{{ i }}"
        pattern="^(?!0)\d+$"
        required
        (input)="validateNumericInput($event)"
      />

      <select [(ngModel)]="ingredient.unit" name="ingredientUnit{{ i }}">
        <option value="ml">ml</option>
        <option value="g">g</option>
        <option value="kg">kg</option>
        <option value="l">l</option>
        <option value="dl">dl</option>
        <option value="kom">kom</option>
        <option value="kašičica">kašičica</option>
        <option value="kašika">kašika</option>
        <option value="šolja">šolja</option>
        <option value="pakovanje">pakovanje</option>
        <option value="prstohvat">prstohvat</option>
        <option value="češanj">čen/a</option>
        <option value="kap">kap</option>
        <option value="komadić">komadić</option>
      </select>

      <button
        type="button"
        class="remove-ingredient"
        (click)="removeIngredient(i)"
      >
        &#x2716;
      </button>
    </div>

    <hr />

    <!-- Image Upload -->
    <div class="file-upload-container">
      <label for="image" class="custom-file-label">Recipe Image</label>
      <input type="file" id="image" (change)="onFileSelected($event)" />
    </div>

    <!-- Submit Button -->
    <button type="submit">Add Recipe</button>
  </form>
</div>
