<div class="admin-dashboard-container">
  <h1 class="dashboard-title">User Management</h1>
  <div class="actions-container">
    <input
      type="text"
      class="search-input"
      placeholder="Search by username or email"
      (input)="onSearch($event)"
    />
    <button class="add-user-btn" (click)="navigateToRegister()">
      &#x2795;
    </button>
  </div>
  <div class="user-list">
    <div class="user-card" *ngFor="let user of filteredUsers">
      <div class="user-info">
        <img
          *ngIf="user.photo"
          [src]="
            'data:' + user.photo.contentType + ';base64,' + user.photo.data
          "
          alt="{{ user.firstname }} {{ user.lastname }}"
          class="user-photo"
        />
        <div class="user-details">
          <h3>{{ user.firstname }} {{ user.lastname }}</h3>
          <p><strong>Username:</strong> {{ user.username }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p>
            <strong>Status: {{ user.status }}</strong>
          </p>
        </div>
        <div class="user-actions">
          <button
            (click)="activateUser(user.username)"
            [disabled]="user.status === 'active'"
          >
            Activate
          </button>
          <button
            (click)="deactivateUser(user.username)"
            [disabled]="user.status === 'inactive'"
          >
            Deactivate
          </button>
          <button (click)="openDeleteModal(user.username)">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="showDeleteModal">
    <div class="modal-content">
      <h3>Are you sure you want to delete this user?</h3>
      <div class="modal-actions">
        <button class="cancel-button" (click)="closeDeleteModal()">
          Cancel
        </button>
        <button class="delete-button" (click)="confirmDeleteUser()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
